@import url('https://fonts.googleapis.com/css2?family=Anton&family=Corben&family=Dosis:wght@600&family=Montserrat&family=Open+Sans:wght@500&family=Poppins&family=Roboto&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --bkColor: rgb(54,168,212);
    --bkLight: rgb(153, 197, 214);
    --formBk: rgb(24, 74, 94);
    --formTxt: rgb(200,200,200);
    --formBorderDark: rgb(6, 20, 26);
    --formBorderLight: rgb(159, 206, 226);
    --cardBk: rgb(153, 148, 179);
    --textLight: rgb(255, 255, 255);
    --textDark: rgb(37, 39, 48);
    --darkGray: #364954;
    --lightGray: #99AEBB;
    --lightPurple: #C689BC;
    --darkPurple: #8F5686;
    --lightBlue: rgb(160, 184, 216);
    --palette1: #2C6E7A;
    --palette2: #26958E;
    --palette3: #54BC8D;
    --palette4: #9EDE7E;
    --palette5: #6a9eb3;
    --palette5bis: #6b9eb3;

}
body {
    background-color: var(--bkColor);
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
.app {
    max-width: 1280px;
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    overflow-y: auto;
    min-height: 100vh;
}

button {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.4em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--darkGray);
    color: var(--textLight);
    cursor: pointer;
    font-size: 1.2rem;
}
.menuButton, .editButton {
    transition: all 0.3s ease-in;
    position:relative;
    z-index: 0;
    overflow: hidden;
}

.menuButton::after {
    content:'';
    position: absolute;
    display: block;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    border-radius: 8px;
    background-color: white;
    transform: translate(-100%, -100%);
    transform-origin: top left;
    transition: transform 0.3s ease-in;
    z-index: -1;
}
.menuButton:hover::after {
    transform: translateX(0);
}
.menuButton:hover {
    color: var(--darkGray);
}
.editButton:hover {
    background-color: var(--bkLight);
    color: var(--darkGray);
    border: 2px solid var(--darkGray);
}
.display {
    flex: 1;
}
.mainPage {
    background-color: var(--bkLight);
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
}
.menu {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 16px;
    background-color: var(--palette5);
    padding: 8px 0;
}

input, select, textarea {
    font-size: 1.1rem;
    padding: 4px;
    border-radius: 5px;
    border: 2px solid var(--formBorderLight);
}
.productPage {
    display: flex;
    justify-content: center;
    align-items: center;   
    position: relative; 
    
}

/* ---- Shoes ---- */
.loadingWrapper {
    width: 100px;
    height: 100px;
}
.loadingWrapper img {
    height:100%;
    width: 100%;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 15px 0;
    color: var(--textDark);
    gap: 34px;
}

/* ---- Product card ---- */
.models {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 32px 8px;
    border-radius: 10px;
    gap: 16px;
    max-width: 1200px;    
}
.productCard {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 8px;
    width: 250px;
    border-radius: 10px;
    background-color: var(--cardBk);
    background-color: var(--palette5);
    padding: 8px 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
    color: var(--textDark);
    box-shadow: 0px 5px 8px 2px var(--darkGray);
}
.productCard:hover {
    background-color: #8cbccf;
}
.productCard:hover .cardImageWrapper img{
    transform: scale(1.2);
}
.cardImageWrapper {
    width: 150px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 6px;
    background-color: white;
    margin: 0 auto;
}

.cardImageWrapper img {
    width: 150px;
    height: 100px;
    object-fit: contain;
    border-radius: 8px;
    transition: all 0.3s ease-in;
}
.cardTitle {
    font-size: 1.2rem;
    overflow: hidden;
}
.priceWrapper {
    background-color: white;
    padding: 4px;
    border-radius: 5px;
}
.cardBrand {
    color: var(--textLight);
}

/* ---- Product instance ---- */
.productInstance {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap:8px;
    margin: 0 auto;
    padding: 16px 8px;
    border-radius: 10px;
    border: 3px solid var(--darkGray);
    background-color: var(--textLight);
    width: 400px;
}
.modelHeader {
    background-color: var(--palette5);
    padding: 16px 8px;
    border-radius: 10px;
    box-shadow: 0px 5px 8px 4px rgb(39, 18, 23);
    margin-bottom: 16px;
    cursor: pointer;
    color: var(--textLight);
    border: 2px solid transparent;
    transition: 0.4s ease-in;
    transition-property: border, box-shadow;
    overflow: auto;
}
.modelHeader:hover {
    border: 2px solid cyan;
    box-shadow: 0px 5px 8px 4px rgb(93, 147, 168);
}
.model {
    font-size: 1.2rem;
    font-weight: bold;
}
.brandName {
    color: var(--darkGray);
}
.instanceImageWrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.instanceImageWrapper img {
    width: 300px;
    height: 150px;

    object-fit: contain;
    border-radius: 8px;
    background-color: white;
}
.instanceWrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--formBorderDark);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s ease-in; 
    transition-property: background-color, color;
}

.instanceWrapper:hover { 
    background-color: var(--palette5);
    color: white;
}
.backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: var(--palette2);
    border: 2px solid transparent;
    color: var(--textDark);
    
    position:relative;
    z-index: 0;
    overflow: hidden;
    width: 100%;
}
.backButton svg{
    fill: white;
    transition: 0.4s ease-in;
    transition-property: transform color;
}
.backButton:hover {
    border: 2px solid var(--darkGray);
}
.backButton:hover svg{
    transform: translateX(-16px);
    fill:var(--darkGray);
}

.backButton::after {
    content:'';
    position: absolute;
    display: block;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    border-radius: 8px;
    background-color: var(--formTxt);
    transform: translateX(100%);
    transform-origin: top left;
    transition: transform 0.3s ease-in;
    z-index: -1;
}
.backButton:hover::after {
    transform: translateX(0);
}

.addSizeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: fit-content;
    margin:auto;
    background-color: var(--palette1);
    padding: 8px;
}
.addSizeButton svg {
    fill: white;
    transition: transform 0.3s ease-in;
}
.addSizeButton:hover svg {
    transform: scale(1.6);
}
/* ---- Edit quantity ---- */

.editProductHeader {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    isolation: isolate;
}
.backdrop {
    position: fixed;
    top:-100vh;
    left:-100vw;
    right:-100vw;
    bottom: -100vh;
    z-index: -1; 
    background-color: rgba(128,128,128,0.7);
    isolation: isolate;
}
.editProductHeaderWrapper {
    position:relative;
    height:100vh;
    overflow: auto;

}
.editProductHeaderWrapper * {
    text-align: center;
}

.editProductInner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 16px 8px;
    border: 2px solid var(--formBorderDark);
    border-radius: 10px;
    gap: 16px;
    position: relative;
}
.editProductInner select, .editProductInner input {
    cursor: pointer;
}

.editModel, .addProduct {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 32px;
}
.editModelInner {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.editModel .editModelTitle {
    font-size: 1.2rem;
    margin-bottom: 16px;
}
.editModel input{
    text-align: center;
}
.editQuantity {
    position: fixed;
    z-index: 1;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 2px solid var(--formBorderDark);
    border-radius: 10px;
    padding: 16px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap:16px;
}
.addProductTitle {
    background-color: white;
    width:fit-content;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}
.editSizeText {
    font-size: 1.2rem;
    background-color: var(--formBorderLight);
    padding: 4px;
    border-radius: 5px;
}
.buttonsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.editProductInner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

/* ---- Edit header ---- */

.editProductHeader input {
    text-align: center;    
}
.headerImageWrapper {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    cursor: url('../assets/zoom.svg'), auto;
}
.headerImageWrapper img {
    width: 100%;
}

.inputGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.zoomedImage {
    position: fixed;
    top:0;
    left:50%;
    transform: translateX(-50%);
    border-radius: 10px;
    border: 4px solid var(--formBorderDark);
    display: flex;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    z-index: 1;
}
.zoomedImage img {
    width: 500px;
    height: 500px;
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
    background-color: white;
}
.deleteButton {
    background-color: rgb(182, 52, 52);
    font-size: 0.8rem;
    margin: 16px 0;
    transition: background-color 0.25s ease-in;
}
.deleteButton:hover {
    background-color: red;
}
/* ---- Add model  ---- */
.addProductBody * {
    text-align: center;
}

/* ---- Brand instance  ---- */
.brandWrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 8px;
}
.category {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    background-color: var(--bkLight);
    padding: 8px 4px;
    border-radius: 8px;
    gap: 8px;
}
.categoryName {
    font-size: 1.8rem;
    color: var(--textDark);
}
.brandProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border: 2px solid var(--textDark);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
    background-color: var(--palette5bis);
}
.brandProduct:hover {
    background-color:var(--palette2);
}
.brandProductList {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 8px;
}
.brandProductWrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.brandProductWrapper img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 8px;
    background-color: white;
}
.brandProductName {
    flex:1;
    text-align: left;
    padding-left: 32px;
    transition: 0.3s ease-in;
    transition-property: padding-left color
}
.brandProduct:hover .brandProductName {
    padding-left: 0;
    color:white;
}

.warningWrapper {
    position: fixed;
    top:32px;
    left:50%;
    transform: translateX(-50%);
    max-width: 300px;
}
.warning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    gap: 16px;
    padding: 16px 8px;
    border-radius: 8px;
    border: 2px solid var(--textDark);
}
.confirmActionWrapper {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    isolation: isolate;
    z-index: 1;    
}
.confirmAction {
    background-color: white;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    border-radius: 8px;
    height: 100%;
}
/* ---- Home ---- */
.homePage {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column; 
}

.homeTitle {
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
    background: #6a9eb3;
}
.homeBig {
    font-family: 'Anton', sans-serif;
    font-size: 6rem;
}
.homeSmall {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    padding-left: 64px;
}
.svgWrapper {
    width: 600px;
    top:0;
    margin: 0 auto;
}
.svgWrapper img {
    width: 100%;
}
.homeIcon {
    width: 50px;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
}

.homeIcon:hover {
    background-color: var(--palette2);
}
