@import url('https://fonts.googleapis.com/css2?family=Anton&family=Corben&family=Dosis:wght@600&family=Montserrat&family=Open+Sans:wght@500&family=Poppins&family=Roboto&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --bkColor: rgb(54,168,212);
    --bkLight: rgb(153, 197, 214);
    --formBk: rgb(24, 74, 94);
    --formTxt: rgb(200,200,200);
    --formBorderDark: rgb(6, 20, 26);
    --formBorderLight: rgb(159, 206, 226);
    --cardBk: rgb(153, 148, 179);
    --textLight: rgb(255, 255, 255);
    --darkGray: #364954;
    --lightGray: #99AEBB;
    --lightPurple: #C689BC;
    --darkPurple: #8F5686;

    --lightBlue: rgb(160, 184, 216);
}
body {
    background-color: var(--bkColor);
    font-family: 'Poppins', sans-serif;
}
#root, .app {
    max-width: 1280px;
    width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    overflow-y: auto;
    min-height: 100vh;
}
button {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--darkGray);
    color: var(--textLight);
    cursor: pointer;
    font-size: 1.2rem;
    transition: border-color 0.25s;
}
button:hover {
    border: 2px solid var(--bkColor);
}
.mainPage {
    background-color: var(--bkLight);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

input, select, textarea {
    font-size: 1.1rem;
    padding: 4px;
    border-radius: 5px;
    border: 2px solid var(--formBorderLight);
}

.productInstance {
    padding: 16px 8px;
    border-radius: 10px;
    border: 3px solid var(--darkGray);
    background-color: var(--textLight);
    width: 400px;
}
/* ---- Shoes ---- */

.shoeModelForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--formBk);
    padding: 15px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 15px 0;
    color: var(--formTxt);
    gap: 10px;
}
/* ---- Product card ---- */
.models {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 32px 8px;
    border-radius: 10px;
    gap: 16px;
    max-width: 1200px;    
}
.productCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 250px;
    border-radius: 10px;
    background-color: var(--cardBk);
    padding: 8px 4px;
    cursor: pointer;
    transition: transform 0.3s ease-in;
    will-change: transform;
}
.productCard:hover {
    transform: scale(1.05);
}

.imageWrapper {
    width: 150px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 6px;
    overflow: hidden;
}
.imageWrapper img {
    width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
    border-radius: 6px;

}
.cardTitle {
    font-size: 1.2rem;
}
.priceWrapper {
    background-color: white;
    padding: 4px;
    border-radius: 5px;
}
.cardBrand {
    color: var(--textLight);
}

/* ---- Product instance ---- */
.productInstance {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap:8px;
}
.modelHeader {
    background-color: var(--lightBlue);
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 5px 8px 4px rgb(39, 18, 23);
    margin-bottom: 16px;
    cursor: pointer;
    color: var(--textLight);
}
.model {
    font-size: 1.2rem;
    font-weight: bold;
}
.brandName {
    color: var(--darkGray);
}
.instanceImageWrapper {
    width: 300px;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.instanceImageWrapper img {
    width: 100%;
    border-radius: 5px;
    /* object-fit: cover; */
}


.instanceWrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--formBorderDark);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in; 
}

.instanceWrapper:hover { 
    background-color: var(--lightPurple);;
}

/* ---- Edit quantity ---- */
.backdrop {
    position: fixed;
    top:-100vh;
    left:-100vw;
    right:-100vw;
    bottom: -100vh;
    z-index: -2; 
    background-color: rgba(128,128,128,0.7);
}
.editProductHeaderWrapper, .editModelInner {
    position: fixed;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 16px 8px;
    border: 2px solid var(--formBorderDark);
    border-radius: 10px;
    gap: 16px;
}
.editProductHeader, .addShoeModel {
    position: fixed;
    z-index: 2;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bkLight);
    /* border: 2px solid var(--formBorderDark); */
    border-radius: 10px;
    /* padding: 16px 8px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    gap:8px;
}
.editModel {
    position: fixed;
    z-index: 1;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 2px solid var(--formBorderDark);
    border-radius: 10px;
    padding: 16px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap:16px;
}
.editModel .editModelTitle {
    font-size: 1.2rem;
    margin-bottom: 16px;
}
.editModel input{
    text-align: center;
}
.buttonsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* ---- Edit header ---- */
.editProductHeader {
    /* position: relative; */
}

.editProductHeader input {
    text-align: center;    
}
.headerImageWrapper {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    cursor: url('../assets/zoom.svg'), auto;
}
.headerImageWrapper img {
    width: 100%;
}

.inputGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.zoomedImage {
    position: fixed;
    top:0;
    left:50%;
    transform: translateX(-50%);
    border-radius: 10px;
    overflow: hidden;
    border: 4px solid var(--formBorderDark);
    display: flex;
    justify-content: center;
    align-items: center;
}
.deleteButton {
    background-color: rgb(182, 52, 52);
    font-size: 0.8rem;
    margin: 16px 0;
}
/* ---- Add model shoe ---- */
